
body{
    background: #000000;
}
.navbar{
    background: #1d1b1b;
}
.index{
    display: flex;
}

h2{
    text-align: center;
    color: #fff;
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 15px;
}

img.card-img-top {
    width:197px;
    height: 293px;
    margin:10px;
}
.card-body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:10px;
}
.card{

    background: #000000;
}
.card-title, .card-text, #searcher{
    color: #fff;
}
#create{
    color:white;
    font-size: 3rem;
    font-weight: bolder;
}
#free{
    color:white;
    font-size: 2rem;
}
#fnames,#snames{
    border-radius: 10px;
    margin:3px;
}
#long1,#long2{
    width:84%;
    border-radius:10px;
    margin:4px;
}
#birthday{
    color:white;
 margin-left:5px;
}
select{
width:100px;
border-radius:5px;
margin:8px;
}
#why,#agreement,.check{
    color:white;
    margin-left:5px;
}
