
body{
    background: #8d8c8c;
}

.index{
    display: flex;
}
.i-size{
    width: 180px;
    height:200px;
    margin:10px;
}
.card-body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:10px;
}
#create{
    color:white;
    font-size: 2rem;
    font-weight: bolder;
}

#fnames,#snames{
    border-radius: 10px;
    margin:3px;
}
#long1,#long2{
    width:84%;
    border-radius:10px;
    margin:4px;
}
#birthday{
    color:white;
 margin-left:5px;
}
#latest{
    color:yellow;  
    margin-bottom:1.5em;
}
select{
width:100px;
border-radius:5px;
margin:8px;
}
#why,#agreement,.check{
    color:white;
    margin-left:5px;
}
#sign-up{
    border-radius: 15px;
    width:30%;
    background:rgb(20, 212, 20);
    
    color:white;
}
#sign-up:hover{
    background: rgb(51, 134, 51);
}

.navbar {
    background: rgb(31, 29, 29);
}